<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="btl.lapitchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CityChat"
        android:allowBackup="true"
        android:icon="@mipmap/citychat_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/citychat_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".chat.ChatActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/citychat_icon" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        </service>

        <activity android:name=".user.ProfileActivity">
            <intent-filter>
                <action android:name=".btl.lapitcaht.TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.UsersActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.StatusActivity"
            android:parentActivityName=".user.SettingActivity" />
        <activity
            android:name=".user.SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".user.LoginActivity"
            android:parentActivityName=".user.StartActivity" />
        <activity
            android:name=".user.RegisterActivity"
            android:parentActivityName=".user.StartActivity" />
        <activity android:name=".user.StartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>